body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-transform: capitalize;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

section {
  padding: 3rem 0;
}

section>h2 {
  text-align: center;
  padding: 3rem 0;
  text-transform: uppercase;
}

section#profile .details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

section#profile img {
  filter: brightness(0.8);
}

section#profile p {
  font-weight: 500;
}

section#education div.education-card {
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 1);
  border-radius: 20px;
  position: relative;
  padding: 2rem;
  margin-bottom: 1rem;
}

section#education div.education-card>h4 svg,
section#experience div.experience-card>h4 svg {
  margin: 0 0 2px 6px;
}

section#education div.education-card p.degree,
section#experience div.experience-card p.degree {
  color: #6c757d;
  font-weight: 600;
  margin-bottom: 1rem;
}

section#education div.education-card p.year,
section#experience div.experience-card p.year {
  color: #007bff;
}

section#education div.education-card ul.links,
section#experience div.experience-card ul.links {
  display: flex;
}

section#education div.education-card ul.links li,
section#experience div.experience-card ul.links li {
  margin: 0 1rem;
}

section#education div.education-card ul.links li a,
section#experience div.experience-card ul.links li a {
  color: #007bff;
}

section#education div.education-card div.location,
section#experience div.experience-card div.location {
  top: 2rem;
  right: 1.8rem;
  max-width: 100%;
  position: absolute;
  color: #fff;
}

section#education div.education-card .location span,
section#experience div.experience-card div.location span {
  padding: 0.25rem 0.7rem;
  border-radius: 10px;
}

section#education div.education-card .location span:first-child,
section#experience div.experience-card div.location span:first-child {
  background-color: #28a745;
  margin: 0 1rem;
}

section#education div.education-card .location span:last-child,
section#experience div.experience-card div.location span:last-child {
  background-color: rgb(4, 4, 51);
}

section#experience div.timeline {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  padding-left: 20px;
}

section#experience div.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #343a40;
}

section#experience div.timeline div.experience-card {
  position: relative;
  margin-bottom: 30px;
  padding: 2rem;
  box-shadow: 0 0px 16px -8px rgb(0, 0, 0, 1);
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  border-radius: 20px;
}

section#experience div.timeline div.experience-card::after {
  content: "";
  position: absolute;
  left: -26px;
  top: 0px;
  background-color: #343a40;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

section#experience div.timeline div.experience-card:hover {
  transform: translateY(-7px);
}

section#experience div.timeline div.experience-card span img {
  top: 70px;
  right: 35px;
  position: absolute;
  width: 50px;
}

section#skills {
  position: relative;
}

section#skills div.myskills div.skill {
  background-color: #343a40;
  border-radius: 10px;
  display: inline-block;
  margin: 5px 8px;
  cursor: default;
  padding: 3px 8px;
  transition: transform 0.2s ease, scale 0.2s ease;
}

section#skills div.myskills div.skill {
  animation: colorPulse 1s infinite;
}

@keyframes colorPulse {
  0% {
    background-color: #343a40;
  }

  50% {
    background-color: #000;
    transform: matrix(1, 0.03, 0, 1, 0, 1);
  }

  100% {
    background-color: #343a40;
  }
}

section#skills div.myskills .div.special-skill {
  animation: special-skill 2s infinite;
  cursor: pointer;
}

@keyframes special-skill {
  0% {
    background-color: #17a2b8;
  }

  50% {
    background-color: #373e01;
    transform: matrix(1, -0.06, 0, 1, 0, 1);
  }

  100% {
    background-color: #343a40;
  }
}

section#skills div.myskills div.skill:hover {
  scale: 1.11;
}

section#skills div.myskills div.skill svg {
  color: white;
  margin: 0 10px 0 0;
}

section#skills div.myskills div.skill span {
  color: #9dcbe1;
  text-transform: uppercase;
  font-weight: 600;
}

.hidesection {
  opacity: 0;
  transform: translateY(20px);
  text-align: right;
  margin: 20px 0 0 0;
  animation: fadeUp 0.5s forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidesection span {
  text-align: center;
  font-size: small;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  font-style: italic;
  background-color: #17a2b8;
}

section#languages,
section#contact {
  text-align: center;
}

section#contact {
  margin-bottom: 5rem;
}

section#contact div.contact-ref a {
  background-color: #343a40;
  color: #fff;
  padding: 10px 1rem;
  border-radius: 10px;
}