body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section#profile h3,
p {
  color: "#343a40";
}

section#profile img {
  filter: brightness(0.8);
}

section#profile p {
  font-weight: 500;
}

section#education div.education-card {
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 1);
  border-radius: 20px !important;
}

section#education div.education-card>h4 svg {
  margin: 0 0 7px 6px;
}

.loc {
  top: 19px;
  border-radius: 10px;
  max-width: 100%;
  padding: 0.25rem 0.7rem;
}

.education-location {
  right: 20px;
  background-color: #28a745;
}

span.position-absolute.exp-img {
  top: 60px;
  right: 20px;
  padding: 0.25rem 0.7rem;
  border-radius: 10px;
  max-width: 100%;
}

span.position-absolute.exp-img img {
  width: 50px;
  height: 32px;
}

.education-address {
  right: 95px;
  background-color: rgb(4, 4, 51);
}

.timeline-content p {
  margin: 1rem 0;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
}

.timeline .timeline-item>span {
  color: #fff !important;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #343a40;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  padding: 0 2rem 1rem;
  box-shadow: 0 0px 16px -8px rgb(0, 0, 0, 1);
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  border-radius: 20px;
}

.timeline-item:hover {
  transform: translateY(-7px);
}

.timeline-icon {
  position: absolute;
  left: -26px;
  top: 0px;
  background-color: #343a40;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.otherlinks li a {
  color: #007bff !important;
}

.timeline-content h4 {
  margin-bottom: 0.2rem;
}

.timeline-content h6 {
  margin-bottom: 0.5rem;
}

.timeline-content p.text-primary {
  font-weight: 500;
  margin-bottom: 0.5rem;
}



#skills h2 {
  color: #343a40;
}

.lang span {
  color: #9dcbe1;
  text-transform: uppercase;
  font-weight: 600;
}

.lang {
  background-color: #343a40;
  border-radius: 10px;
  display: inline-block;
  margin: 5px 8px;
  cursor: default;
  padding: 3px 8px;
  transition: transform 0.2s ease, scale 0.2s ease;
}

.lang:hover {
  scale: 1.11;
}

.lang svg {
  color: white;
  margin: 0 10px 0 0;
}

.contact-ref a {
  background-color: #343a40;
  color: #fff;
  padding: 10px 1rem;
  border-radius: 10px;
  text-decoration: none;
}

.myskills .lang {
  animation: colorPulse 1s infinite;
}

@keyframes colorPulse {
  0% {
    background-color: #343a40;
  }

  50% {
    /* background-color: #111a1e; */
    background-color: #000;
    transform: matrix(1, 0.03, 0, 1, 0, 1);
  }

  100% {
    background-color: #343a40;
  }
}

#skills {
  position: relative;
}

.hidesection {
  text-align: center;
  font-size: small;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  font-style: italic;

}

.ss {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s forwards;
  text-align: right;
  margin: -26px 0 0 0;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.myskills .test a {
  text-decoration: none;
}

.myskills .test {
  animation: test 2s infinite;
  cursor: pointer;
}

@keyframes test {
  0% {
    background-color: #17a2b8;
  }

  50% {
    background-color: #373e01;
    transform: matrix(1, -0.06, 0, 1, 0, 1);
  }

  100% {
    background-color: #343a40;
  }
}